.container {
  background-color: white;
  border-style: solid;
  border-color: grey;
  min-height: 700px;

  margin-top: 30px;
  margin-bottom: 30px;
  width: 65%;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: ghostwhite;
}

.card {
  margin: 20px;
  margin: 10px;
  border-style: ridge;
  border-color: black;
  height: 300px;
}

.btn.btn-primary {
  margin: 10px;
}
